.app-container {
  height: 100%;
  width: 100%;

  display: grid; 
  grid-template-rows: 50px calc(100vh - var(--header-height) - var(--player-height)) 100px;
}

.center-container {
  width: 100%;
  display: flex;
}

.side-panel {
  flex-grow: 1;
}

.main-container {
  flex-grow: 5;
}



/* TODO move in another css file/create new component */
.bottom-player {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}



.left-infos {
  display: flex;
  align-items: center;
  max-width: 30vw;
}

.left-infos > img {
  height: var(--player-height);
  width: var(--player-height);
}

.left-infos > .item-infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;

  max-width: 100%;
  overflow: hidden;
}

.left-infos > .item-infos > .title-name {
  font-size: large;
  font-weight: bold;
}

.left-infos > .item-infos > .artist-name {
  font-size: medium;
  white-space: nowrap;
}

/* text overflow */
.left-infos > .item-infos > .title-name,
.left-infos > .item-infos > .artist-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.left-infos > .bi {
  margin: 15px;
}


.middle-controls { 
  height: var(--player-height);
}

.middle-controls .bi {
  font-size: 45px;  
}

.middle-controls > .controls-container {
  display: flex;
  justify-content: center;
}

.middle-controls > .progress-slider {
  display: flex;
}

.middle-controls > .progress-slider > input {
  width: 100%;
}



.right-controls {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  gap: 10px;
  align-items: center;
}



/* TODO create a new file for this too */
.header-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header-bar > .quick-nav {
  width: fit-content;
  margin-left: 10px;
  font-size: x-large;

  display: flex;
  align-items: center;
  gap: 5px;
}

.user-account {
  margin-right: 10px;

  width: fit-content;
  justify-self: right;
  font-size: x-large;

  display: flex;
  align-items: center;
  gap: 10px; 
}