.app-container {
  height: 100%;
  width: 100%;

  display: grid; 
  grid-template-rows: 50px calc(100vh - var(--header-height) - var(--player-height)) 100px;
}

.center-container {
  width: 100%;
  display: flex;
}



.main-container {
  flex-grow: 5;
}

.resize-handle {
  width: 1px;
  background-color: var(--outline-color);
  transform: translateX(-50%);
  transition: 0.1s ease width, 0.2s ease background-color;
}

.resize-handle[data-resize-handle-state="hover"] {
  width: 3px;
  background-color: var(--active-element);
}
.resize-handle[data-resize-handle-active] {
  width: 3px;
  background-color: var(--lighter-active-element);
}
