.app-container {
  height: 100%;
  width: 100%;

  display: grid; 
  grid-template-rows: 50px calc(100vh - 50px - 100px) 100px;
}

.center-container {
  width: 100%;
  display: flex;
}

.side-panel {
  flex-grow: 1;
}

.main-container {
  flex-grow: 5;
}