@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --player-height: 100px;
  --header-height: 50px;

  --text-color: #c4b8c5;
  --important: white;
  --background-color: #25252c;
  --lighter-background-color: #33343b;
  --darker-background-color: #202027;
  --active-element: dodgerblue;
  --lighter-active-element: #5bdeff;

  --font: medium monospace;

  --outline-color: #1b1b20;
  --lighter-outline-color: #908591;
  --outlines: 1px solid var(--outline-color);
  --lighter-outlines: 2px solid var(--lighter-outline-color);
  --active-outline: 2px solid var(--lighter-active-element);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  background-color: var(--background-color);
  color: var(--text-color);
  font: var(--font);
}

