.favorite-icon {
    cursor: pointer;
    justify-self: center;
    align-self: center;
    animation: un-favorite 0.3s ease;
    transition: 0.2s ease transform;
}

.favorite-icon:hover {
    transform: scale(1.1);
}

.favorited {
    color: var(--active-element);
    animation: favorite 0.4s ease;
}

.favorite-icon:active {
    color: var(--lighter-active-element)
}

@keyframes favorite {
    from {
        transform: scale(0.5);
    }
    65% {
        color: var(--important);
        transform: scale(1.2);
    }
    to {
        color: var(--active-element);
        transform: scale(1);
    }
}

@keyframes un-favorite {
    from {
        transform: scale(1);
        color: var(--lighter-active-element);

    }
    
    25% {
        transform: scale(0.8) rotateZ(20deg);
    }

    50% {
        transform: scale(0.8) rotateZ(-20deg);
    }

    75% {
        transform: scale(0.8) rotateZ(10deg);
        color: var(--lighter-active-element);
    }
    
    to {
        transform: scale(1);
    }
}
