.track-container {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 7px;
  margin-right: 7px;
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 40px;
  align-items: center;
  border-bottom: var(--outlines);
}

.track-container > .track-title,
.track-container > .track-artist,
.track-container > .track-album
{
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-container > .track-duration {
  justify-self: right;
  text-align: left;
}

.sort-container {
  padding: 7px;
  margin: 0;
  grid-template-columns: 25px 1fr 1fr 1fr 40px;
  background-color: var(--darker-background-color);
}

.sort-container [class*="chevron"] {
  margin-right: 5px;
  display: none;
}

.sort-container > .sort-duration {
  justify-self: right;
  padding-right: 2px;
}

/* for demonstratoin purpose */
.sort-container > .sort-title .bi-chevron-down {
  display: inline;
}